{erl_opts, [debug_info]}.

{plugins, [pc]}.

{provider_hooks, [{post,
                   [{compile, {pc, compile}},
                    {clean, {pc, clean}}]
                  }]}.


{port_specs, [{"priv/pbkdf2.so", ["c_src/*.c"]}]}.

{port_env, [
	     %% Make sure to set -fPIC when compiling rocksdb
           {"CFLAGS", "$CFLAGS -std=c11 -Wall -O3 -fPIC"},
           {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall"},
           {"DRV_LDFLAGS", "$DRV_LDFLAGS"}]}.
